<%= link_to "Search a new Flight", flights_path %>
<h1>Flights index</h1>

<%= form_tag('/flights', method: :get) do %>
		
	<%= fields_for :flight_query do |f| %>
		Departure:
		<%= f.select(:start_airport_id, options_for_select(@airports)) %>
		Arrival:
		<%= f.select(:end_airport_id,		options_for_select(@airports)) %>
	<% end %>
	<%= submit_tag("search") %>
<% end %>


<br><br>
<% if @flights %>
	<% if @flights.empty? %>
		<p><%= "No flights between those two cities" if @flights.empty? %>
	<% else %>
		<% if @booking.errors.any? %>
			<ul>
				<% @booking.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>
		<%= form_tag '/bookings/new', method: :get do %>
			<%= fields_for :booking do |b| %>
				<table>
					<thead>
						<tr>
							<th></th>
							<th>number</th>
							<th>departure</th>
							<th>arrival</th>
							<th>date</th>
						</tr>
					</thead>
					<tbody>
						<% @flights.each do |f| %>
							<tr>
								<td><%= b.radio_button :flight_id, f.id %> </td>
								<td><%= f.id %></td>
								<td><%= f.start_airport.name %></td>
								<td><%= f.end_airport.name %></td>
								<td><%= f.date.strftime("%h %d, %H:%M") %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= b.submit "proceed to booking" %>
			<% end %>
		<% end %>
	<% end %>
<% end %>


<br><br>
<h3>stuff to implement</h3>
<ul>
	<li>nice css</li>
	<li>star_wars theme</li>
	<li>switch between two themes</li>
	<li>planes occupancy</li>
	<li>validation</li>
	<li>post errors</li>
	<li>js notifications</li>
	<li>check if all the other forms use form_tag</li>
	<li>cities ordered by name in the drop down</li>
</ul>