<h3>Airports</h2>
<ul class="list-inline">
	<% @airports.each do |airport| %>
		<li><div class="btn btn-primary airports"><%= link_to airport.name, airport %></div></li>
	<% end %>
</ul>

<h3>Flights</h2>
<%= will_paginate %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>number</th>
				<th>departure</th>
				<th>arrival</th>
				<th>date</th>
				<th>time</th>
			</tr>
		</thead>
		<tbody>
			
				<% @flights.order(:date).each do |flight| %>
					<tr>
						<td><%= flight.id %></td>
						<td><%= flight.departure_airport.name %></td>
						<td><%= flight.arrival_airport.name %></td>
						<td><%= flight.date.strftime("%a, %b %d") %></td>
						<td><%= flight.date.strftime("%H:%M") %></td>
				<% end %>

	</table>
