<h2>Search Flights</h2>

<div class="row-fluid">
	<%= form_tag("/flights/search", method: "get", html: { class: "form-horizontal" }) do %>
			<div class="row">
				<div class="col-md-4 col-xs-4 search">
					<div class="form-group">
						<%= label_tag( :departure_airport) %>
						<div>
							<%= select_tag(:departure_airport, 	
								options_for_select(@airports_select, @departure_airport), class: "form-control") %>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-4 search">
					<div class="form-group">
						<%= label_tag( :arrival_airport) %>
						<div class="controls">
							<%= select_tag(:arrival_airport, 		
								options_for_select(@airports_select, @arrival_airport), class: "form-control") %>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<%= label_tag( :date) %>
				<%= select_tag(:date, 							
					options_for_select(@flight_days,		 @date), class: "form-control") %>
			</div>
			<div class="form-group">
				<%= hidden_field_tag(:submitted, true) %>
				<%= submit_tag "search flight", class:"btn btn-primary" %>
			</div>
	<% end %>
</div>

<% if params[:submitted] %>
	<% if @flights.any? %>
		<%= form_tag("/bookings/new", method: "get") do %>
			<table class="table table-hover table-condensed">
				<thead>
					<tr class="active">
						<th>number</th>
						<th>date</th>
						<th>time</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<div class="btn-group" data-toggle="buttons">
						<% @flights.each do |flight| %>
							<tr>
								<td><%= flight.id %></td>
								<td><%= flight.date.strftime("%a, %b %d %Y") %></td>
								<td><%= flight.date.strftime("%H:%M") %></td>
								<td>
									<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary">									
	  								<%= radio_button_tag :flight_id, flight.id %>
	    							select
	    						</label>
	    						</div>
	  						</td>
							</tr>
						<% end %>
					</div>
				</tbody>
			</table>
			<%= label_tag (:passengers) %>
			<%= select_tag(:passengers_number, options_for_select(1..4), class: "form-control passengers") %> 
			<%= submit_tag "book now", class: "btn btn-success book-now" %>
		<% end %>
	<% end %>
<% end %>

<h2>to do</h2>
<ul>
	<li>sortable tables</li>
	<li>booking errors</li>
	<li>passenger and flight validations</li>
	<li>javascript for filling fields and not selecting any flight</li>
	<li>will paginate for flights</li>
</ul>
