<h2>Search Flights</h2>

<%= form_tag("/flights/search", method: "get") do %>
		<%= label_tag( :departure_airport) %>
		<%= select_tag(:departure_airport, 	
			options_for_select(@airports_select, @departure_airport)) %>
		<%= label_tag( :arrival_airport) %>
		<%= select_tag(:arrival_airport, 		
			options_for_select(@airports_select, @arrival_airport)) %>
		<%= label_tag( :date) %>
		<%= select_tag(:date, 							
			options_for_select(@flight_days,		 @date)) %>
		<%= hidden_field_tag(:submitted, true) %>
		<%= submit_tag "search flight" %>
<% end %>

<% if params[:submitted] %>
	<% if @flights.any? %>
		<%= form_tag("/bookings/new", method: "get") do %>
			<table>
				<thead>
					<tr>
						<th>select</td>
						<th>number</td>
						<th>date</td>
						<th>time</th>
					</tr>
				</thead>
				<tbody>
					<% @flights.each do |flight| %>
						<tr>
							<td><%= radio_button_tag :flight_id, flight.id %></td>
							<td><%= flight.id %></td>
							<td><%= flight.date.strftime("%a, %b %d %Y") %></td>
							<td><%= flight.date.strftime("%H:%M") %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= label_tag (:passengers) %>
			<%= select_tag(:passengers_number, options_for_select(1..4)) %> 
			<%= submit_tag "book now" %>
		<% end %>
  <% else %>
    <% if same_airports? %>
      <p>that flight is way too short, please select different departure and arrival airports</p> 
    <% else %>
      <p>no flights found, try another combination</p>
    <% end %>
	<% end %>
<% end %>

<h2>to do</h2>
<ul>
	<li>sortable tables</li>
	<li>booking errors</li>
	<li>passenger validations</li>
</ul>

<h3>old stuff to implement</h3>
<ul>
	<li>nice css</li>
	<li>star_wars theme</li>
	<li>switch between two themes</li>
	<li>planes occupancy</li>
	<li>js notifications</li>
	<li>google maps api</li>
</ul>
