flights details:

<table>
	<thead>
		<tr>
			<th>number</th>
			<th>departure</th>
			<th>arrival</th>
			<th>date</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @flight.id %></td>
				<td><%= @flight.start_airport.name %></td>
				<td><%= @flight.end_airport.name %></td>
				<td><%= @flight.date.strftime("%h %d, %H:%M") %></td>
			</tr>
	</tbody>
</table>

<%= form_for @booking do |b| %>
	<%= hidden_field_tag :flight_id, @flight.id %>

	<%= b.fields_for :passengers, @booking.passengers.build do |p| %>
		<%= p.label :name %>
		<%= p.text_field :name %>
		<%= p.label :email %>
		<%= p.email_field :email %>
	<% end %>

	
	<%= b.submit "Book the flight" %>
<% end %>