<h2>Booking Details</h2>

<h3>Flight information</h3>
<table class="table">
	<thead>
		<tr>
			<td>Departure</td>
			<td>Arrival</td>
			<td>Date</td>
			<td>Time</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @flight.departure_airport.name %></td>
			<td><%= @flight.arrival_airport.name %></td>
			<td><%= @flight.date.strftime("%a, %b %d  %Y") %></td>
			<td><%= @flight.date.strftime("%H:%M") %></td>
		</tr>
	</tbody>
</table>

<h3><%= "Passenger".pluralize(@passengers_number) %> information</h3>
<%= form_for @booking do |f| %>
	<ul>
		<% @passengers_number.times do |i| %>
		<h3><%= @ordinal_numbers[i] %> passenger</h3>
			<%= f.fields_for :passengers, @booking.passengers.build do |p| %>
				<li>
					<%= p.text_field  :name, class: "form-control", placeholder: "name" %>
					<%= p.email_field :email, class: "form-control", placeholder: "email" %>
				</li>
			<% end %>
		<% end %>
	</ul>
	<%= f.hidden_field(:flight, value: @flight.id) %>
	<%= f.hidden_field(:passengers_number, value: @passengers_number) %>
	<%= f.submit "book tickets", class: "btn btn-success" %>
<% end %>