<h1>Booking Details</h1>

<h2>Flight information</h2>
<table>
	<thead>
		<tr>
			<td>Departure</td>
			<td>Arrival</td>
			<td>Date</td>
			<td>Time</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @booking.flight.departure_airport.name %></td>
			<td><%= @booking.flight.arrival_airport.name %></td>
			<td><%= @booking.flight.date.strftime("%a, %b %d  %Y") %></td>
			<td><%= @booking.flight.date.strftime("%M:%H") %></td>
		</tr>
	</tbody>
</table>

<h2><%= "Passenger".pluralize(@booking.passengers_number) %> information</h2>
<%= form_for @passenger do |f| %>

<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Email</td>
				<td>Booking id</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @passenger.name %></td>
				<td><%= @passenger.email %></td>
				<td><%= @passenger.booking.id %></td>
			</tr>
		</tbody>
	</table>

<br>

	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Email</td>
			</tr>
		</thead>
		<tbody>
			<% @booking.passengers_number.times do |i| %>
				<tr>
					<td><%= f.text_field  :name %></td>
					<td><%= f.email_field :email %><td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= f.hidden_field :booking_id, value: @booking.id %>
	<%= f.submit "book tickets" %>
<% end %>



