<h1>flight booked</h1>

<h2>reservation for <%= @passenger.first.name %></h2>
<p>booking number <%= @booking.id %></p>
<table>
	<thead>
		<tr>
			<th>number</th>
			<th>departure</th>
			<th>arrival</th>
			<th>date</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @flight.id %></td>
				<td><%= @flight.start_airport.name %></td>
				<td><%= @flight.end_airport.name %></td>
				<td><%= @flight.date.strftime("%h %d, %H:%M") %></td>
			</tr>
	</tbody>
</table>