<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      table       { border-collapse: collapse; }
      table,th,td {border: 1px solid black;}
    </style>
  </head>

  <body>
    <%= link_to "search flight",  flights_search_path %>
    <%= link_to "all flights",    flights_path %>
    <%= link_to "all bookings",   bookings_path %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
