<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <ul>
        <li><%= link_to "search flight",  flights_search_path %></li>
        <li><%= link_to "all flights",    flights_path %></li>
        <li><%= link_to "all bookings",   bookings_path %></li>
        <li><%= link_to "about", "#" %></li>
        <li><%= link_to "author",         "#" %></li>
      </ul>
    </header>
    <section class="brand">
      <h1 id="title">SaloFlights</h1>
      <h2 id="subtitle">
        Taking off is only half of the story<br>
        Just wait for the landing<br>
        Look ma, no hands!<br>
        Every landing you can walk away from...<br>
        Releasing Mile High Club membership cards<br>
        OUR planes are made of the same material as the black boxes<br>
        Just kidding, mate<br>
        Have you seen the movie Flight?
      </h2>
    </section>
    <%= yield %>
    <
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
